*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

/* Hero starts here */

.hero{
    height: 100vh;
    padding: 2.5rem;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header .mobile-menu{
    display: none;
}

.hero header a{
    text-decoration: none;
}

.hero header a img{
    width: 8rem;
}

.hero header nav ul{
    display: flex;
    align-items: center;
}

.hero header nav ul li{
    list-style: none;
    margin: 0 1.2rem;
}

.hero header nav ul li:nth-child(4){
    margin-right: 0;
}

.hero header nav ul li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.hero header nav ul li:nth-child(4) a{
    padding: .7rem 1rem;
    color:hsl(212, 27%, 19%);
    background: hsl(0, 0%, 100%);
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s;
    font-family: 'Fraunces', serif;
    font-size: .8rem;
}

.hero header nav ul li:nth-child(4) a:hover{
    background: hsla(0, 0%, 100%, 0.37);
    color: hsl(0, 0%, 100%);
}

.hero .header-text{
    text-align: center;
}

.hero .header-text h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    letter-spacing: .5rem;
    font-weight: 900;
    margin: 4rem;
    font-family: 'Fraunces', serif;
}

.mobile-nav{
    display: none;
}

/* Features starts here */

.features{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

.features article{
    flex-basis: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features article .left-col{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features article .left-col .left-col-text{
    max-width: 70%;
}

.features article .left-col .left-col-text h2{
    font-size: 2.9rem;
    margin-bottom: 1.5rem;
    line-height: 1;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    font-family: 'Fraunces', serif;
}

.features article .left-col .left-col-text p{
    line-height: 1.4;
    margin-bottom: 2rem;
    color: hsl(212, 27%, 19%);
    font-family: 'Barlow', sans-serif;
}

.features article .left-col .left-col-text a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 800;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    font-family: 'Fraunces', serif;
}

.features article .left-col .left-col-text a::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: hsla(51, 100%, 49%, 0.404);
    z-index: -1;
    border-radius: .5rem;
    transition: .35s;
}

.features article .left-col .left-col-text a:hover::before{
    background: hsl(51, 100%, 49%);
}

.features article .right-col{
    flex-basis: 50%;
    overflow: hidden;
    height: 100%;
}

.features article .right-col picture{
    width: 100%;
    height: 100%;
}

.features article .right-col picture img{
    width: 100%;
    height: 100%;
}

.features article:nth-child(2) .left-col .left-col-text a::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: hsla(7, 99%, 70%, 0.493);
    z-index: -1;
    border-radius: .5rem;
    transition: .35s;
}

.features article:nth-child(2) .left-col .left-col-text a:hover::before{
    background: hsl(7, 99%, 70%);
}

.features article:nth-child(3) .left-col{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: center;
    position: relative;
}

.features article:nth-child(3) .left-col .left-col-text{
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 45%;
}

.features article:nth-child(3) .left-col .left-col-text h2{
    font-size: 2rem;
    color: hsl(167, 40%, 24%);
    font-family: 'Fraunces', serif;
}

.features article:nth-child(3) .left-col .left-col-text p{
    font-size: .8rem;
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
}

.features article:nth-child(3) .left-col:nth-child(2){
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
}

.features article:nth-child(3) .left-col .left-col-text h3{
    font-size: 1.5rem;
    color: hsl(198, 62%, 26%);
    margin-bottom: 1rem;
    font-family: 'Fraunces', serif;
}

.features article:nth-child(3) .left-col:nth-child(2) .left-col-text p{
    font-size: .8rem;
    color: hsl(198, 62%, 26%);
    font-family: 'Barlow', sans-serif;
}

/* Testimonials starts here */
.testimonials{
    padding: 6rem;
    text-align: center;
    background: hsla(42, 92%, 90%, 0.192);
}

.testimonials h3{
    text-transform: uppercase;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    margin-bottom: 3rem;
    letter-spacing: .3rem;
    font-family: 'Fraunces', serif;
}

.testimonials .testimonial-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonials .testimonial-row .testimonial-col{
    flex-basis: 31%;
}

.testimonials .testimonial-row .testimonial-col img{
    border-radius: 50%;
    width: 3.5rem;
    margin-bottom: 2.5rem;
}

.testimonials .testimonial-row .testimonial-col p{
    color: hsl(198, 62%, 26%);
    margin-bottom: 2.5rem;
    line-height: 1.6;
    font-family: 'Barlow', sans-serif;
}

.testimonials .testimonial-row .testimonial-col .client-name h4{
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    font-family: 'Fraunces', serif;
}

.testimonials .testimonial-row .testimonial-col .client-name p{
    font-size: .8rem;
    margin-bottom: 0;
    font-family: 'Barlow', sans-serif;
}

/* Gallery section starts here */
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    overflow: hidden;
}

.gallery picture{
    flex-basis: 33%;
    height: 100%;
}

.gallery picture img{
    width: 100%;
    height: 100%;
}

/* Footer starts here */
footer{
    padding: 3rem;
    background: hsl(168, 32%, 55%);
    text-align: center;
}

footer nav a{
    text-decoration: none;
}

footer nav a img{
    filter: invert(1) brightness(0);
    width: 9rem;
}

footer nav ul{
    margin: 2rem 0 4rem;
}

footer nav ul li{
    display: inline-block;
    margin: 0 1rem;
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    font-size: 1.1rem;
    cursor: pointer;
    transition: .35s;
    font-family: 'Barlow', sans-serif;
}

footer nav ul li a:hover{
    color: hsl(0, 0%, 100%);
}

footer > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > ul > li{
    display: inline-block;
    list-style: none;
    margin: .7rem;
}

footer > ul > li > a{
    text-decoration: none;
}

footer > ul > li > a img{
    transition: .25s;
}

footer > ul > li > a:hover img{
    filter: brightness(0) invert(1);
}

footer .attribution { 
    font-size: .9rem; 
    text-align: center; 
    font-family: 'Barlow', sans-serif;
}

footer .attribution a { 
    font-size: .9rem;
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    transition: .35s;
    cursor: pointer;
}

footer .attribution a:hover{
    color: hsl(0, 0%, 100%);
}

/* Responsive design starts here */
@media (max-width: 991px){
    .hero {
        padding: 1.5rem 1.1rem;
        background-image: url(images/mobile/image-header.jpg);
        background-position: center;
        background-size: cover;
    }

    .hero header nav ul {
        display: none;
    }

    .hero header .mobile-menu {
        display: block;
    }

    .hero header .active{
        opacity: .1;
    }

    .hero header a img {
        width: 6.5rem;
    }

    .hero .header-text h1 {
        font-size: 2rem;
        margin: 4rem 0 4rem;
    }

    .features article {
        flex-basis: 100%;
        height: 110vh;
    }

    .features article .right-col {
        flex-basis: 100%;
        overflow: hidden;
        height: 50vh;
        order: 1;
    }

    .features article .right-col picture img{
        width: 100%;
        height: 100%;
    }

    .features article .left-col {
        flex-basis: 100%;
        height: 60vh;
        order: 2;
        background: hsl(46, 55%, 94%);
    }

    .features article .left-col .left-col-text {
        max-width: 85%;
        text-align: center;
    }

    .features article .left-col .left-col-text h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .features article .left-col .left-col-text a {
        position: relative;
        font-size: .8rem;
        z-index: 2;
    }

    .features article .left-col .left-col-text a::before {
        z-index: -1;
    }

    .features article:nth-child(3){
        position: relative;
    }

    .features article:nth-child(3) .left-col {
        background-image: url(images/mobile/image-graphic-design.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .features article:nth-child(3) .left-col .left-col-text h3 {
        font-size: 1.2rem;
        margin-bottom: .6rem;
    }

    .features article:nth-child(3) .left-col .left-col-text h3 {
        font-size: 1.2rem;
        color: hsl(198, 62%, 26%);
        margin-bottom: .6rem;
        font-family: 'Fraunces', serif;
    }

    .testimonials {
        padding: 5rem 1rem 2rem;
    }

    .testimonials h3 {
        font-size: .8rem;
    }

    .testimonials .testimonial-row .testimonial-col {
        flex-basis: 100%;
        margin-bottom: 2.5rem;
    }

    .testimonials .testimonial-row .testimonial-col:nth-child(3) {
        margin-bottom: 0;
    }

    .testimonials .testimonial-row .testimonial-col img {
        width: 3rem;
        margin-bottom: 1.5rem;
    }

    .testimonials .testimonial-row .testimonial-col p {
        margin-bottom: 1.5rem;
        line-height: 1.6;
        font-size: .9rem;
    }

    .testimonials .testimonial-row .testimonial-col .client-name h4 {
        margin-bottom: .4rem;
        font-size: 1rem;
    }

    .testimonials .testimonial-row .testimonial-col .client-name p {
        font-size: .7rem;
    }

    .gallery {
        height: 80vh;
        flex-wrap: wrap;
        overflow: visible;
    }

    .gallery picture {
        flex-basis: 50%;
        height: 50%;
    }

    footer {
        padding: 3rem 1rem;
    }

    footer nav ul li a {
        font-size: .9rem;
    }

    footer .attribution {
        font-size: .8rem;
    }

    footer .attribution a {
        font-size: .8rem;
    }

    .mobile-nav{
        display: block;
        position: fixed;
        left: 50%;
        top: 5rem;
        transform: translateX(-50%);
        background: hsl(46, 55%, 94%);
        text-align: center;
        padding: 2rem;
        z-index: 10;
        width: 90%;
    }

    .mobile-nav::after{
        content: "";
        position: absolute;
        right: 0;
        top: -1.2rem;
        border-top: .6rem solid transparent;
        border-bottom: .6rem solid hsl(46, 55%, 94%);
        border-left: .6rem solid transparent;
        border-right: .6rem solid hsl(46, 55%, 94%);
    }

    .mobile-nav nav ul li{
        display: block;
        list-style: none;
        margin-bottom: 2rem;
    }

    .mobile-nav nav ul li:nth-child(4){
        margin-bottom: 0;
    }

    .mobile-nav nav ul li:nth-child(4) a{
        padding: .8rem 1rem;
        text-transform: uppercase;
        background: hsl(51, 100%, 49%);
        border-radius: 3rem;
        font-size: .8rem;
        font-weight: 700;
    }

    .mobile-nav nav ul li a{
        text-decoration: none;
        color: hsl(198, 62%, 26%);
        font-family: 'Barlow', sans-serif;
    }

    .features article:nth-child(3) .left-col .left-col-text {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 85%;
        max-width: 80%;
    }
}

@media (max-width: 320px){
    .hero .header-text h1 {
        font-size: 1.8rem;
    }

    .features article .left-col .left-col-text p {
        font-size: .8rem;
    }

    .features article:nth-child(3) .left-col .left-col-text {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 85%;
        max-width: 80%;
    }

    .testimonials h3 {
        font-size: .7rem;
    }

    .testimonials .testimonial-row .testimonial-col p {
        font-size: .8rem;
    }

    .testimonials .testimonial-row .testimonial-col .client-name h4 {
        font-size: .9rem;
    }

    footer nav ul li a {
        font-size: .8rem;
    }

    footer .attribution {
        font-size: .6rem;
    }

    footer .attribution a {
        font-size: .6rem;
    }
}

@media (max-width: 280px){
    .hero .header-text h1 {
        font-size: 1.5rem;
    }

    .features article:nth-child(3) .left-col .left-col-text {
        bottom: -1rem;
    }

    .testimonials h3 {
        font-size: .6rem;
    }

    footer {
        padding: 2rem 1rem;
    }

    footer nav ul li a {
        font-size: .6rem;
    }

    footer nav ul {
        margin: 1.5rem 0 3rem;
    }

    footer nav a img {
        width: 7.5rem;
    }
}